.error-message {
    margin: 1rem;
    text-align: center;
    min-height: 60vh;
}

.error-message img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.error-message h4 {
    color: #e80000;
    font-weight: 500;
    z-index: 100;
    font-size: 2rem;
}