.welcomeApp {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
    background-image: linear-gradient(to top, #edeeee, #f3f4f4, #fafbfa, #fbfcfc, #fcfdfd, #fefefe, #ffffff);
}

.welcome-card .icon {
    margin-left: 5px;
}

.welcome-card,
figure {
    min-width: 290px;
    max-width: 500px;
}

figure img {
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    object-fit: contain;
}