.welcomeApp {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.welcome-card,
figure {
    min-width: 290px;
    max-width: 400px;
    padding: 1rem;
}

figure img {
    max-height: 180px;
    object-fit: contain;
}