* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    color: black;
}


h1 {
    font-size: 3rem;
    line-height: 1.7;
}

.btn-welcome,
.btn-login,
.btn {
    margin: 1rem 0;
    border-radius: 8px;
    border: 2px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.3s;
    background-color: #646cff;
    color: #ffffff;
    transition: all 0.3s;

}

.btn-welcome:hover,
.btn-login:hover,
.btn:hover {
    border-color: #646cff;
    background-color: #ffffff;
    color: #646cff;
}

.btn-welcome:focus,
.btn-login:focus,
.btn:focus,
.btn-welcome:focus-visible,
.btn-login:focus-visible,
.btn:focus-visible {
    outline: 5px auto -webkit-focus-ring-color;
}

.citiesPage,
.loginPage {
    padding: 2rem 1rem;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    text-align: center;
}

.link {
    text-decoration: none;
    color: #646cff;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0 0 0.4rem black;
    position: relative;
    min-height: 100vh;
    text-align: center;
    position: relative;

    .details-body {
        max-width: 500px;

        h1 {
            line-height: 1.1;
        }

        span {
            display: block;
            font-size: 1.2rem;
            font-weight: 500;
            color: #ffffffe5;
            margin-bottom: 1rem;
        }

        .details-currency {
            font-size: 1rem;
            position: absolute;
            top: 1rem;
            right: 1rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;

        }

        p {
            margin: 1rem;
        }

    }

    .page-contriction {
        position: absolute;
        top: 2rem;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 400;
        user-select: none;
        color: #d2d2d2c8;
    }

    .details-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        object-position: center;
        object-fit: cover;
        filter: brightness(50%);
        z-index: -1;
    }

}

main {
    .itineraries {
        background-image: linear-gradient(to top, #edeeee, #f3f4f4, #fafbfa, #fbfcfc, #fcfdfd, #fefefe, #ffffff);
        text-align: center;
        padding: 2rem 0.5rem;
        min-height: 100vh;

        .section-title {
            font-size: 3rem;
            margin: 1rem;
        }

        .itinerary-activities {
            margin: 1rem 0;

            .activities,
            .comments {
                padding: 1rem;
                background-color: #c7c9fb;
            }

            h4 {
                font-size: 2rem;
            }
            h5{
                font-size: 1.5rem;
            }

            p {
                font-size: 1.3rem;
            }

        }
    }


}

.errorPage {
    min-height: 80vh;
    padding: 2rem 1rem;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    text-align: center;

    .link {
        font-weight: 500;
        color: #646cff;
        text-decoration: inherit;
    }

    img {
        transform: scale(1.4);
        margin-bottom: -2rem;
    }
}

img,
button,
span {
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-in {
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-in-top {
    animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}