.card-list {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    max-width: 1000px;
    
}

.search {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 1rem 0.5rem;
    max-width: 400px;
}

.search input[type='text'] {
    background: none;
    padding: 0.5rem 1rem;
    border: solid 2px #646cff;
    border-radius: 1rem;
    flex-grow: 3;
}

.search .search-icon,
.search .reset-input {
    background: none;
    border: none;
    margin: none;
    transition: 0.3s all;
    flex-grow: 1;
}

.search .reset-input {
    color: #646cff;
    cursor: pointer;
}

.search .search-icon {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: #646cff;
    cursor: pointer;
}

.search button:hover {
    transform: scale(1.1);
}