.card-list {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    max-width: 1000px;
}

.search {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    max-width: 400px;
    position: relative;
}

.search input[type='text'] {
    text-indent: 1.5rem;
    background: none;
    padding: 0.5rem 1rem;
    border: solid 2px #646cff;
    border-radius: 1rem;
    flex-grow: 2;
    width: 100%;
}

.search .search-icon, .search .reset-input  {
    background: none;
    border: none;
    margin: none;
    transition: 0.3s all;
}

.search .reset-input {
    position: absolute;
    top: 1.15rem;
    right: 1.5rem;
    color: #646cff;
    cursor: pointer;
}

.search .search-icon {
    position: absolute;
    top: 1.5rem;
    left: 1.6rem;
    color: #17171792;
}

.search button:hover {
    transform: scale(1.3);
}
