.card {
    position: relative;
    color: #ffffff;
    text-shadow: 0 0 0.3rem #141414;
    transition: all 0.3s;
}


.card:not(:hover){
    transform: scale(0.95);
}
.card .card-header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem;

}

.card .card-img {
    border-radius: 0.5rem;
    width: 290px;
    height: 290px;
    object-fit: cover;
    transition: all 0.3s;
    filter: drop-shadow(0 0.1rem 0.2rem #424242);
}

.card .card-btn {
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    padding: 0.2rem;
    color: #e4e4e4;
    text-shadow: 0 0.2rem 0.3rem #141414;
    cursor: pointer;
}
.card .card-currency {
    position:absolute;
    top: 0;
    right: .5rem;
    padding: 0.5rem;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}