nav {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 0.5rem;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem
}

ul li {
    display: inline-block;
}

ul li img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}