.carousel {
    min-height: 100vh;
    background-color: #646cff;
    background-image: url(../../assets/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 0.5rem #292929;
}

.carousel h2 {
    text-align: center;
    color: white;
    padding: 1.5rem 0;
    font-size: 2.5rem;
    text-shadow: 0 2px 2px #13131d;
}

.carousel .carousel-container {
    padding: 1rem 0;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 350px;
    min-width: 280px;
}

.carousel .carousel-container .carousel-card {
    position: relative;
    width: 120px;
    cursor: pointer;
    transition: transform 0.3s, filter 0.3s;
    user-select: none;
}

.carousel-card:hover {
    transform: scale(1.02);
    z-index: 3;
}

.carousel-container:hover .carousel-card:not(:hover) {
    filter: grayscale(40%);
}

.carousel .carousel-container .carousel-card .carousel-card-img {
    border-radius: 0.5rem;
    object-fit: cover;
    width: 120px;
    height: 180px;
    filter: drop-shadow(0 0 0.2rem #13131d);
}

.carousel .carousel-container .carousel-card .carousel-card-body {
    border-radius: 0 0 0.5rem 0.5rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.2rem;
    background-color: #e7e0e0e3;
}

.carousel .carousel-container .carousel-card .carousel-card-body .carousel-card-title {
    font-size: 1rem;
    text-align: center;
}

.carousel .carousel-container .carousel-card .carousel-card-body .carousel-card-country {
    display: block;
    text-align: center;
    color: #202020;
}

button {
    background: none;
}

.btn-prev,
.btn-next {
    padding: 0 0.2rem;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s;
}

.btn-prev:hover,
.btn-next:hover {
    color: #ffffff;

}

.btn-prev {
    left: 0;
}

.btn-next {
    right: 0;
}