footer{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 1rem;
}

footer .copyrights {
    align-self: flex-end;
    text-align: end;
}