.headerPage {
    position: relative;
    min-height: 40vh;
    color: white;
    text-shadow:  0 0 0.2rem rgb(56, 56, 56);
    box-shadow: 0 0.2rem 0.4rem rgb(56, 56, 56);
}
.headerPage .banner-img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(50%);
}
.headerPage  .hero {
    margin: auto;
    max-width: 500px;
}